.instructions {
  &__description {
    margin-bottom: 40px;
    line-height: 24px;

    color: #424242;
  }

  &__row {
    @include row-flex();
  }

  .col-4 {
    @include size-md(6);
    @include size-sm(12);
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 49px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;

    @media (max-width: 576px) {
      padding: 35px;
    }

    img {
      width: 88px;
      height: 113px;
      margin-bottom: 20px;
    }

    &-title {
      flex-grow: 1;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: rem(22px);
      line-height: 30px;

      @media (max-width: 576px) {
        font-size: rem(20px);
        line-height: 24px;
      }


      color: #424242;
    }

    a {
      position: relative;
      padding-left: 34px;
      font-weight: 600;
      line-height: 24px;

      color: $orange;

      &:before {
      content: url('../img/icons/download.svg');
      position: absolute;
      top: 0px;
      left: 0px;
      }
    }
  }
}
