img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}

a {
  transition: $base-transition;

  &:hover {
    color: $link-hover-color;
  }
}

.main-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1 1 auto;

  @media (max-width: 768px) {
    margin-bottom: 150px;
  }
}

.container {
  width: 100%;
  @include container();

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row-flex {
  @include row-flex();
}

.table-row {
  @include row-flex();

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.table-col-1_3 {
  @include col();
  @include size(1.3);
}

.table-col-2 {
  @include col();
  @include size(2);
}

.table-col-2_7 {
  @include col();
  @include size(2.7);
}

.table-col-4,
.col-4 {
  @include col();
  @include size(4);
}

.col-3 {
  @include col();
  @include size(3);
}

.col-6 {
  @include col();
  @include size(6);
}

.col-9 {
  @include col();
  @include size(9);
}

.container-full {
  padding: 0;
  @include container-full();
}

.grey-block {
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 2px;

  &:not(last-child) {
    margin-bottom: 12px;
  }
}

.base-button {
  padding: 16px 64px;
  font-weight: 600;
  font-size: rem(14px);

  color: #ffffff;

  background-color: $orange;
  border: 1px solid transparent;
  border-radius: 2px;

  transition: $base-transition;

  white-space: nowrap;

  &:hover {
    background-color: #ff7517;
  }
}

.tabs {
  section {
    display: none;
    padding: 40px 0 45px 0;
    border-top: 1px solid #ddd;

    @media (max-width: 768px) {
      padding: 20px 0 22px 0;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    display: inline-block;
    margin: 0 36px -2px 0;
    padding-bottom: 18px;

    font-weight: 700;

    border-bottom: 2px solid transparent;

    transition: $base-transition;

    span {
      font-weight: 400;
    }

    @media (max-width: 1024px) {
      margin-bottom: -1px;
    }

    @media (max-width: 768px) {
      &:first-child {
        margin-left: 20px;
      }

      &:last-child {
        margin-right: 20px;
      }
    }
  }

  &__label:hover {
    color: $orange;
    cursor: pointer;
  }

  &__label.active {
    color: $orange;
    border-bottom: 2px solid $orange;
  }

  #tab-1:checked ~ #content-1,
  #tab-2:checked ~ #content-2,
  #tab-3:checked ~ #content-3,
  #tab-4:checked ~ #content-4,
  #tab-5:checked ~ #content-5,
  #tab-6:checked ~ #content-6,
  #delivery:checked ~ #delivery,
  #availability:checked ~ #availability,
  #all:checked ~ #all,
  #smartphones:checked ~ #smartphones,
  #accessories:checked ~ #accessories,
  #compare-smartphones:checked ~ #compare-smartphones,
  #compare-accessories:checked ~ #compare-accessories {
    display: block;
  }
}

.divider {
  border-bottom: 1px solid #d9d9d9;

  &--margin-bottom {
    margin-top: 0 !important;
    margin-bottom: 75px;
  }
}

.modal {
  &__body {
    max-width: 359px;
    width: 100%;
    height: 460px;

    @media (max-width: 576px) {
      max-width: calc(100% - 38px);
      height: 100vh;
    }
  }

  &__form {
    &-label {
      position: relative;
    }

    .search {
      width: 100%;
      padding: 12px 42px 12px 18px;
      background-color: #f5f5f5;
      border-radius: 2px;
      border: none;

      font-size: rem(14px);

      color: $base-text-color;
      &::placeholder {
        color: #acacac;
      }
    }

    &-button {
      position: absolute;
      right: 14px;
      top: 3px;
      display: block;
      margin: 0;
      padding: 0;

      border: none;
      background-color: transparent;
    }

    &-wrapper {
      margin-top: 8px;
      height: 306px;

      overflow: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #fff;
        background-color: $orange;
      }

      .form-wrapper__row {
        display: flex;
        margin-bottom: 17px;
      }

      @media (max-width: 576px) {
        height: 85vh;
        padding-bottom: 24px;
      }
    }

    @media (max-width: 576px) {
      height: 100vh;
      padding-bottom: 24px;
    }
  }

  &__map {
    padding: 14px;

    .modal__body {
      max-width: 773px;
      width: 100%;
      height: 501px;
    }

    .modal__content {
      height: 100%;
    }
  }
}

.custom-checkbox {
  display: flex;
  width: 100%;
  cursor: pointer;

  &--hidden {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;

    &:checked ~ .custom-checkbox__pseudo {
      background-color: $orange;

      svg line {
        stroke: #ffffff;
      }
    }
  }

  &__pseudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-right: 17px;
    background-color: #f5f5f5;
    border-radius: 2px;

    transition: $base-transition;

    svg {
      transition: $base-transition;

      position: relative;
      top: -1px;

      line {
        stroke: #f5f5f5;
      }
    }
  }
}

.badge {
  padding: 2px 10px 4px;
  font-size: rem(13px);
  line-height: 20px;

  color: #ffffff;

  white-space: nowrap;

  border-radius: 2px;

  &--orange {
    background-color: $orange;
  }

  &--red {
    background-color: $red;
  }
  &--purpure {
    background-color: $purpure;
  }

  &--light-grey {
    color: $red;
    background-color: $light-grey;
  }
}

.show-more {
  position: relative;
  width: 26px;
  height: 26px;

  background-color: #f5f5f5;
  border-radius: 2px;

  cursor: pointer;

  svg {
    transition: $base-transition;
  }

  &:hover svg {
    path {
      fill: $orange;
    }
  }

  &.active svg {
    transform: rotate(-90deg);

    path {
      fill: $orange;
    }
  }
}

.action-time {
  svg {
    margin-right: 9px;
  }

  .text {
    margin-right: 12px;
    width: 95px;
    font-weight: 600;
    font-size: rem(11px);
    line-height: 14px;

    color: #454545;
  }

  .clock {
    .days,
    .hours,
    .minutes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & span {
        font-weight: 700;
        font-size: rem(20px);
        line-height: 20px;
        color: #454545;
      }
      & div {
        font-weight: 400;
        font-size: rem(9px);
      }
    }

    .divider {
      margin: -5px 9px 0 9px;
      font-size: rem(24px);

      color: #acacac;
    }
  }
}

.payment-variants {
  cursor: pointer;

  position: relative;

  &__title {
    width: 90%;
    overflow: hidden;

    font-size: rem(12px);
    line-height: 18px;

    color: #acacac;
  }

  &__icon {
    svg {
      transform: rotate(90deg);
    }
  }

  &__current {
    font-size: rem(14px);
    line-height: 20px;

    color: #424242;
  }

  &__select {
    position: absolute;
    top: 77px;
    left: -1px;
    z-index: 15;

    overflow: hidden;
    overflow-y: auto;
    display: none;

    width: calc(100% + 1px);
    height: 315px;

    padding: 19px;

    background-color: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    &-content {
      margin-bottom: 30px;
    }

    &-item {
      margin-bottom: 23px;
    }

    &-title {
      margin-bottom: 14px;
      padding-bottom: 10px;
      font-weight: 700;
      font-size: rem(14px);
      line-height: 20px;

      color: #424242;

      border-bottom: 1px solid #d9d9d9;
    }

    &-text {
      margin-bottom: 5px;
      color: #424242;

      &.selected {
        color: $orange;
      }
    }

    &-description {
      font-weight: 400;
      font-size: rem(12px);

      color: #a4a4a4;

      & span {
        font-weight: 700;
      }
    }
  }
  &.open {
    svg {
      transform: rotate(-90deg);

      path {
        fill: $orange;
      }
    }

    .payment-variants__select {
      display: block;
    }
  }
}

.payment-info {
  font-size: rem(14px);

  &__price {
    margin-bottom: 12px;
    font-weight: 700;

    .current {
      margin-right: 9px;
      font-size: rem(34px);
    }

    .old {
      margin-right: 9px;

      color: #808080;
      font-size: rem(16px);
      text-decoration: line-through;
    }

    .sale {
      font-size: rem(16px);

      color: $orange;
    }
  }

  &__available {
    position: relative;
    margin-bottom: 24px;
    padding-left: 14px;
    line-height: 20px;

    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      left: 0;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #00b407;
    }

    a {
      color: $orange;
    }
  }

  &__payment-variants {
    margin-bottom: 24px;
    padding: 14px 19px;
    background-color: #ffffff;
    border-radius: 2px;
  }

  &__add {
    margin-bottom: 24px;

    .add-to-card {
      height: 52px;
      padding: 16px 45px;
      font-weight: 600;
      font-size: rem(14px);
      border: none;
      background-color: $orange;

      transition: $base-transition;

      color: #ffffff;

      border-radius: 2px;

      svg {
        margin-right: 10px;
      }

      &:hover {
        background-color: #ff7517;
      }
    }

    .buy-one-click {
      width: 52px;
      height: 52px;
      border-radius: 2px;
      border: 1px solid $orange;
      background-color: transparent;

      transition: $base-transition;

      svg {
        margin-top: 6px;
        transform: rotate(-9.76deg);
      }

      &:hover {
        background-color: $orange;
      }

      &:hover svg {
        path {
          stroke: #ffffff;
        }
      }
    }
  }

  &__bonuses {
    position: relative;

    span {
      font-weight: 700;
    }

    svg {
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        circle,
        line {
          transition: $base-transition;
          stroke: $link-hover-color;
        }
      }
    }
  }
}

.bonuses {
  font-size: rem(14px);
  line-height: 19px;

  .row {
    &:not(last-child) {
      margin-bottom: 6px;
    }
  }

  span {
    font-weight: 700;
  }

  strong {
    font-weight: 700;
    font-size: rem(20px);
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.color-circles {
  &__item {
    width: 46px;
    height: 46px;
    padding: 4px;

    border: 1px solid transparent;
    border-radius: 50%;

    &:not(last-child) {
      margin-right: 20px;
    }

    span {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &.active {
      border: 1px solid $orange;
    }
  }
}

.gift {
  &__title {
    position: relative;
    margin-bottom: 12px;
    padding-left: 24px;
    font-weight: 700;
    font-size: rem(12px);

    color: $orange;

    &:before {
      content: url(../img/icons/gift.svg);
      position: absolute;
      top: calc(50% - 11px);
      left: 0px;
    }
  }

  &__body {
    padding: 24px 16px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;

    img {
      width: 28px;
      height: 28px;
      margin-right: 12px;
    }

    .text {
      font-size: rem(12px);
      color: #808080;
    }
  }
}

.main-specifications {
  font-size: rem(14px);

  &__row {
    &:not(last-child) {
      margin-bottom: 12px;
    }
  }

  &__name {
    margin-right: 4px;
    max-width: 45%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: #808080;
  }

  &__value {
    color: #424242;
  }

  &__all {
    padding-bottom: 1px;
    color: $orange;
    border-bottom: 1px solid transparent;

    transition: $base-transition;

    &:hover {
      border-bottom: 1px solid #ebe9e9;
    }
  }
}

.input-label {
  margin-bottom: 2px;
  font-size: rem(12px);

  color: #454545;

  sup {
    color: $orange;
  }
}

.base-input,
.base-textarea {
  width: 100%;
  padding: 12px 17px;
  font-size: rem(14px);

  border-radius: 2px;
  border: transparent;

  &.notRequired {
    border: 1px solid $orange;
  }
}

.base-textarea {
  height: 86px;
}

.card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  padding: 20px;
  background-color: #ffffff;
  border-radius: 2px;

  transition: $base-transition;

  &:hover {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  }

  &__header {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    display: flex;
    flex-direction: column;
  }

  .card-item__to-favorites,
  .card-item__to-compare {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    background-color: transparent;
    cursor: pointer;
  }

  .card-item__to-favorites {
    margin-bottom: 18px;

    &:hover svg {
      path {
        transition: $base-transition;
        fill: #ff6700;
      }
    }
  }

  .card-item__to-compare {
    &:hover svg {
      line {
        transition: $base-transition;
        stroke: #ff6700;
      }
    }
  }

  &__badges {
    position: relative;

    .badges__hidden {
      bottom: 0;
      top: 34px;
      flex-wrap: wrap;
      padding-bottom: 10px;
      background-color: #ffffff;
      height: fit-content;

      .badge {
        margin-bottom: 8px;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;

    img {
      max-width: 226px;
      width: 100%;
      height: 230px;
      height: 100%;
    }
  }

  &__reviews {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      font-size: 14px;
      line-height: 19px;

      color: #ff6700;
      svg {
        margin-right: 6px;
      }
    }

    .stars {
      margin-left: 18px;
    }
  }

  &__part-number {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #acacac;
  }

  &__title {
    flex-grow: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #424242;
  }

  &__footer {
    display: flex;
    align-items: center;

    .payment__info {
      width: 100%;
    }

    .add-to-card {
      height: 42px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12px;
      white-space: nowrap;
    }

    .payment-info__price {
      margin-bottom: 0;

      .current {
        font-size: 22px;
      }
    }

    .payment-info__add {
      margin-bottom: 0;
    }

    .buy-one-click {
      width: 42px;
      height: 42px;
      margin-left: 6px;
    }
  }
}

.custom-select {
  position: relative;

  cursor: pointer;

  &__title {
    overflow: hidden;

    font-size: rem(14px);
  }

  &__icon {
    margin-left: 6px;
    margin-top: -3px;

    svg {
      transform: rotate(180deg);
    }
  }

  &__current {
    font-weight: 600;
    font-size: rem(14px);
    line-height: 20px;

    color: #424242;
  }

  &__select {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 15;

    overflow: hidden;
    overflow-y: auto;
    display: none;

    padding: 23px 23px 13px 23px;

    background-color: #ffffff;
    box-shadow: 0px 4px 40px rgba(162, 170, 181, 0.2);
    border-radius: 3px;

   

    &-item {
        margin-bottom: 10px;
    }

    &-title {
      margin-bottom: 14px;
      padding-bottom: 10px;
      font-weight: 700;
      font-size: rem(14px);
      line-height: 20px;

      color: #424242;
    }

    &-text {
      font-size: rem(14px);
      color: #424242;

      &.selected {
        color: $orange;
      }
    }

    &-description {
      font-weight: 400;
      font-size: rem(12px);

      color: #a4a4a4;

      & span {
        font-weight: 700;
      }
    }
  }

  &__input {
    position: absolute;
    z-index: -1;
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;
    height: 0;
    font-size: 0;
  }

  &.open {
    svg {
      transform: rotate(0deg);
    }

    .custom-select__select {
      display: block;
    }
  }
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.no-wrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

#map {
  height: 100% !important;
  min-height: 100% !important;
}
