img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}

a {
  transition: $base-transition;

  &:hover {
    color: $link-hover-color;
  }
}

.main-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  @include container();
}

.container-full {
  padding: 0;
  @include container-full();
}

.grey-block {
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 2px;

  &:not(last-child) {
    margin-bottom: 12px;
  }
}

.base-button {
  padding: 16px 64px;
  font-weight: 600;
  font-size: rem(14px);

  color: #ffffff;

  background-color: $orange;
  border: 1px solid transparent;
  border-radius: 2px;

  transition: $base-transition;

  white-space: nowrap;

  &:hover {
    background-color: #ff7517;
  }
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.no-wrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
