body {
  font-family: $base-typeface;
  font-size: $base-font-size;
  color: $base-text-color;
}

.h1,
h1 {
  font-size: rem(36px);
  margin-bottom: $base-line-height * 2;
  line-height: 49px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: rem(28px);
    line-height: 38px;
  }
}

/*
h2 {
    font-size: 36px;
    line-height: $base-line-height * 2;
    margin-bottom: $base-line-height;
    font-weight: bold;
}
*/

.h3, h3 {
  font-weight: 600;
  font-size: rem(22px);
  line-height: 40px;

  @media (max-width: 768px) {
    font-size: rem(20px);
    line-height: 28px;
  }
}
