// Modular grid
$base-module: 8px;
$base-line-height: 24px;

// Fonts
$base-typeface:  'Open Sans', sans-serif;
$base-font-size: 16px;


// Colors
$body-color: #fff;

$base-text-color: #424242;

$link-color: #4f7faf;
$link-hover-color: #FF6700;

$orange: #FF6700;
$red: #E30613;
$purpure: #6D6DCF;
$light-grey: #F0F0F0;

$border-color: #e1e1e1;

// Borders
$base-border: 1px solid $border-color;

// Effects
$link-underline-opacity: 0.5;
$base-transition: 0.2s ease-in-out;
