.favorites {
  &__title-recently {
    margin-top: 86px;
  }

  .row-flex {
    margin-left: -10px;
    margin-right: -10px;
  }

  .col-3 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(25% - 20px);

    @include size-xl(4);
    @include size-md(6);
    @include size-sm(12);
  }

  &__sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 17px;
  }

  &__content {
    padding: 38px 0 0px 0;
    background-color: #f5f5f5;
  }

  .pagination__prev,
  .pagination__next {
    background-color: #ffffff;

    &:hover {
      background-color: $orange;
    }
  }
}
