.card {
  padding-bottom: 45px;

  &__title {
    margin-bottom: 24px;

    @media (max-width: 768px) {
      margin-bottom: 12px;
    }
  }

  // card__header
  @import './components/card-header/card-header';

  &__main {
    margin: 24px 0;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // card__slider
  @import './components/card-slider/card-slider';

  // card__features
  @import './components/card-features/card-features';

  // card__price
  @import './components/card-price/card-price';

  // card__promotion
  @import './components/card-promotion/card-promotion';

  // card__info
  @import './components/card-info/card-info';

  &__also-purchased {
    margin: 45px 0;
    border: 1px solid #000;
  }

  &__recently {
    margin: 45px 0;
    border: 1px solid #000;
  }

  &__price-mobile {
    display: none;

    margin: -12px -20px 12px -20px;

    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

    @media (max-width: 768px) {
      display: block;
    }

    &-header {
      border-bottom: 1px solid rgba($color: #424242, $alpha: 0.1);

      .grey-block {
        padding: 9px 19px;
        background-color: #ffffff;
      }

      .payment-info__price {
        margin-bottom: 0;

        @media (max-width: 414px) {
          .current {
            font-size: rem(24px);
          }

          .old, .sale {
            font-size: rem(14px);
          }
        }
      }

      .payment-info__add {
        margin-bottom: 0;
      }

      .payment-info__add .add-to-card {
        margin-right: 10px;
        padding-left: 22px;
        padding-right: 22px;

        @media (max-width: 414px) {
          padding-left: 12px;
        padding-right: 12px;
        }
      }
    }

    &-footer {
      padding: 10px 24px;

      .card__price-icons-item {
        position: relative;
        .text {
          font-size: rem(11px);
          line-height: 15px;

          color: #aaaaaa;
        }

        & .badge {
          position: absolute;
          top: -6px;
          right: 5px;

          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;

          padding: 0;

          font-weight: 700;
          font-size: rem(10px);

          color: #ffffff;

          background-color: $orange;
          border-radius: 50%;
        }
      }
    }
  }

  &__action-time {
    position: relative;
    z-index: 10;

    display: none;
    justify-content: center;
    margin-top: -99px;
    margin-right: -20px;
    margin-left: -20px;
    padding: 10px 20px;

    & .text {
      width: auto !important;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

 // specifications
 @import '../card/specifications/specifications';
