<section class="card__promotion">
  <div class="card__promotion-body flex">
    <div class="card__promotion-nav">
      <div class="card__promotion-title flex direction-column justify-between">
        <span>Вместе дешевле</span>
        <div class="card__promotion-nav-btns flex items-center ">
          <div class="swiper-button-prev">
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="4.94995" y1="8.48541" x2="8.48549" y2="4.94987" stroke="#ACACAC" stroke-width="2"
                    stroke-linecap="round" />
              <line x1="8.48569" y1="4.94983" x2="4.95015" y2="1.4143" stroke="#ACACAC" stroke-width="2"
                    stroke-linecap="round" />
            </svg>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next">
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="4.94995" y1="8.48541" x2="8.48549" y2="4.94987" stroke="#ACACAC" stroke-width="2"
                    stroke-linecap="round" />
              <line x1="8.48569" y1="4.94983" x2="4.95015" y2="1.4143" stroke="#ACACAC" stroke-width="2"
                    stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </div>

    </div>
    <div class="swiper card__promotion-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card__promotion-item card__promotion-item--first flex">
            <img src="./img/img-1.png" alt="#">
            <div>

              <div class="card__promotion-item-title">Xiaomi 11T Pro, 8Gb, 128Gb</div>
              <div class="card__promotion-item-price">1 599 р.</div>
            </div>
          </div>
          <div class="card__promotion-item card__promotion-item--second flex">
            <img src="./img/img-2.png" alt="#">
            <div>

              <div class="card__promotion-item-title">Кабель Usb Type C - Usb Type C</div>
              <div class="card__promotion-item-price">29 р.</div>
            </div>
          </div>
          <div class="card__promotion-item-total flex direction-column justify-between">
            <div class="card__promotion-item-total-text">
              <div class="sale">Выгода 50 р.</div>
              <div class="new-price">1 619 р.</div>
            </div>
            <button class="base-button">Купить комплект</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__promotion-item card__promotion-item--first flex">
            <img src="./img/img-1.png" alt="#">
            <div>

              <div class="card__promotion-item-title">Xiaomi 11T Pro, 8Gb, 128Gb</div>
              <div class="card__promotion-item-price">1 599 р.</div>
            </div>
          </div>
          <div class="card__promotion-item card__promotion-item--second flex">
            <img src="./img/img-2.png" alt="#">
            <div>

              <div class="card__promotion-item-title">Кабель Usb Type C - Usb Type C</div>
              <div class="card__promotion-item-price">29 р.</div>
            </div>
          </div>
          <div class="card__promotion-item-total flex direction-column justify-between">
            <div class="card__promotion-item-total-text">
              <div class="sale">Выгода 50 р.</div>
              <div class="new-price">1 619 р.</div>
            </div>
            <button class="base-button">Купить комплект</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__promotion-item card__promotion-item--first flex">
            <img src="./img/img-1.png" alt="#">
            <div>

              <div class="card__promotion-item-title">Xiaomi 11T Pro, 8Gb, 128Gb</div>
              <div class="card__promotion-item-price">1 599 р.</div>
            </div>
          </div>
          <div class="card__promotion-item card__promotion-item--second flex">
            <img src="./img/img-2.png" alt="#">
            <div>

              <div class="card__promotion-item-title">Кабель Usb Type C - Usb Type C</div>
              <div class="card__promotion-item-price">29 р.</div>
            </div>
          </div>
          <div class="card__promotion-item-total flex direction-column justify-between">
            <div class="card__promotion-item-total-text">
              <div class="sale">Выгода 50 р.</div>
              <div class="new-price">1 619 р.</div>
            </div>
            <button class="base-button">Купить комплект</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__promotion-item card__promotion-item--first flex">
            <img src="./img/img-1.png" alt="#">
            <div>

              <div class="card__promotion-item-title">Xiaomi 11T Pro, 8Gb, 128Gb</div>
              <div class="card__promotion-item-price">1 599 р.</div>
            </div>
          </div>
          <div class="card__promotion-item card__promotion-item--second flex">
            <img src="./img/img-2.png" alt="#">
            <div>

              <div class="card__promotion-item-title">Кабель Usb Type C - Usb Type C</div>
              <div class="card__promotion-item-price">29 р.</div>
            </div>
          </div>
          <div class="card__promotion-item-total flex direction-column justify-between">
            <div class="card__promotion-item-total-text">
              <div class="sale">Выгода 50 р.</div>
              <div class="new-price">1 619 р.</div>
            </div>
            <button class="base-button">Купить комплект</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>