<div class="card__features">
  <div class="card__features-item">
    <div class="card__features-item-title">Объем памяти</div>
    <div class="card__features-item-body">
      <button class="badge">4/128 ГБ</button>
      <button class="badge active">8/256 ГБ</button>
    </div>
  </div>
  <div class="card__features-item">
    <div class="card__features-item-title">Цвет корпуса: <span>Лунно-белый</span></div>
    <div class="card__features-item-body">
      <div class="color-circles flex">
        <div class="color-circles__item">
          <span style="background-color: #F5F5F5;"></span>
        </div>
        <div class="color-circles__item active">
          <span style="background-color: #B6DFF6;"></span>
        </div>
        <div class="color-circles__item">
          <span style="background-color: #999999;"></span>
        </div>
      </div>
    </div>
    <div class="card__features-item-body">
      <div class="gift">
        <div class="gift__title">
          Подарок за покупку
        </div>
        <div class="gift__body flex items-center">
          <img src="img/img-1.png" alt="img-1">
          <span class="text">Гарнитура PlayStation 5 Pulse 3D (CFI-ZWH1)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card__features-item">
    <div class="card__features-item-title">Основные характеристики</div>
    <div class="card__features-item-body">
      <div class="main-specifications">
        <div class="main-specifications__row flex">
          <div class="main-specifications__name">
            Экран..........................................
          </div>
          <div class="main-specifications__value">6.67 “ 1080х2400пикс, AMOLED</div>
        </div>
        <div class="main-specifications__row flex">
          <div class="main-specifications__name">
            Процессор..........................................
          </div>
          <div class="main-specifications__value">MediaTek Dimensity 1200 3 ГГц</div>
        </div>
        <div class="main-specifications__row flex">
          <div class="main-specifications__name">
            Формат SIM-карты...........................
          </div>
          <div class="main-specifications__value">Nano</div>
        </div>
        <a href="#" class="main-specifications__all">
          Все характеристики
        </a>
      </div>
    </div>
  </div>
</div>