.breadcrumbs {
  padding: 12px 0 19px 0;

  color: #808080;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    line-height: 16px;
    padding-left: 0;
    white-space: nowrap;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      padding-bottom: 8px;
    }

    @media (max-width: 768px) {
      font-size: rem(13px);
    }

    &:after {
      content: url(../img/icons/arrow-right.svg);
      position: absolute;
      top: 0;
      right: 0;
      
      width: 16px;
      height: 16px;
    }

    &:last-child {
      color: #C5C5C5;

      &::after {
        display: none;
      }
    }

    & a {
      color: #808080;
      

      &:not(last-child) {
        margin-right: 25px;
      }
    }
  }
}
