<div class="card__slider">
  <div class="swiper-container card__slider--thumbs">
    
    <div class="swiper-button-prev-th">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="19.7989" y1="10.6068" x2="10.6065" y2="1.41442" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round"/>
        <line x1="10.6064" y1="1.41434" x2="1.41406" y2="10.6067" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round"/>
        </svg>
        
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./img/for-slider/img-thumbs-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-thumbs-2.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-thumbs-3.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-thumbs-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-thumbs-2.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-thumbs-3.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-thumbs-2.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-thumbs-3.png" alt="#">
      </div>
    </div>
    <div class="swiper-button-next-th">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="19.7989" y1="10.6068" x2="10.6065" y2="1.41442" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round"/>
        <line x1="10.6064" y1="1.41434" x2="1.41406" y2="10.6067" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </div>
  </div>
  <div class="swiper-container card__slider--main">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./img/for-slider/img-big-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-big-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-big-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-big-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-big-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-big-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-big-1.png" alt="#">
      </div>
      <div class="swiper-slide">
        <img src="./img/for-slider/img-big-1.png" alt="#">
      </div>
    </div>
  </div>
</div>