/* Normalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* End Normalize */

/* Fonts */

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/* End Fonts */

/* Typography */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #424242;
}

.h1,
h1 {
  font-size: 2.25rem;
  margin-bottom: 48px;
  line-height: 49px;
  font-weight: 700;
}

/*
h2 {
    font-size: 36px;
    line-height: $base-line-height * 2;
    margin-bottom: $base-line-height;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
    font-weight: bold;
}
*/

/* End Typography */

/* Base styles */

img {
  display: block;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #FF6700;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.table-col-1_3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(10.83333% - 30px);
}

.table-col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.66667% - 30px);
}

.table-col-2_7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(22.5% - 30px);
}

.table-col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

.container-full {
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.grey-block {
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.grey-block:not(last-child) {
  margin-bottom: 12px;
}

.base-button {
  padding: 16px 64px;
  font-weight: 600;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #FF6700;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}

.base-button:hover {
  background-color: #ff7517;
}

.tabs section {
  display: none;
  padding: 40px 0 45px 0;
  border-top: 1px solid #ddd;
}

.tabs__input {
  display: none;
}

.tabs__label {
  display: inline-block;
  margin: 0 36px 14px 0;
  padding-bottom: 18px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.tabs__label span {
  font-weight: 400;
}

.tabs__label:hover {
  color: #FF6700;
  cursor: pointer;
}

.tabs__label.active {
  color: #FF6700;
  border-bottom: 2px solid #FF6700;
}

.tabs #tab-1:checked ~ #content-1,
.tabs #tab-2:checked ~ #content-2,
.tabs #tab-3:checked ~ #content-3,
.tabs #tab-4:checked ~ #content-4,
.tabs #tab-5:checked ~ #content-5,
.tabs #tab-6:checked ~ #content-6,
.tabs #delivery:checked ~ #delivery,
.tabs #availability:checked ~ #availability {
  display: block;
}

.modal__body {
  max-width: 359px;
  width: 100%;
  height: 460px;
}

.modal__form-label {
  position: relative;
}

.modal__form .search {
  width: 100%;
  padding: 12px 42px 12px 18px;
  background-color: #f5f5f5;
  border-radius: 2px;
  border: none;
  font-size: 0.875rem;
  color: #424242;
}

.modal__form .search::-webkit-input-placeholder {
  color: #acacac;
}

.modal__form .search::-moz-placeholder {
  color: #acacac;
}

.modal__form .search:-ms-input-placeholder {
  color: #acacac;
}

.modal__form .search::-ms-input-placeholder {
  color: #acacac;
}

.modal__form .search::placeholder {
  color: #acacac;
}

.modal__form-button {
  position: absolute;
  right: 14px;
  top: 3px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.modal__form-wrapper {
  margin-top: 8px;
  height: 306px;
  overflow: hidden;
  overflow-y: auto;
}

.modal__form-wrapper::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
  border-radius: 2px;
}

.modal__form-wrapper::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #fff;
  background-color: #FF6700;
}

.modal__form-wrapper .form-wrapper__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.custom-checkbox--hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.custom-checkbox--hidden:checked ~ .custom-checkbox__pseudo {
  background-color: #FF6700;
}

.custom-checkbox--hidden:checked ~ .custom-checkbox__pseudo svg line {
  stroke: #ffffff;
}

.custom-checkbox__pseudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: #f5f5f5;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.custom-checkbox__pseudo svg {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
  top: -1px;
}

.custom-checkbox__pseudo svg line {
  stroke: #f5f5f5;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* End Base styles */

/* MAIN STYLES */

.breadcrumbs {
  padding: 12px 0 19px 0;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item {
  position: relative;
  line-height: 16px;
  padding-left: 0;
  white-space: nowrap;
}

.breadcrumbs__item:after {
  content: url(../img/icons/arrow-right.svg);
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
}

.breadcrumbs__item:last-child {
  color: #C5C5C5;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__item a {
  color: #808080;
}

.breadcrumbs__item a:not(last-child) {
  margin-right: 25px;
}

.card {
  padding-bottom: 45px;
}

.card__title {
  margin-bottom: 24px;
}

.card__header {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(66, 66, 66, 0.1);
}

.card__header .badges {
  position: relative;
}

.card__header-badges .badges__hidden {
  position: absolute;
  bottom: -37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #ffffff;
}

.card__header-badges .badges__hidden.hidden {
  display: none;
}

.card__header-badges .badge:not(:last-child) {
  margin-right: 10px;
}

.card__header-actions {
  font-size: 0.8125rem;
  line-height: 18px;
}

.card__header--reviews {
  padding-left: 10px;
}

.card__header--reviews a {
  margin-top: -1px;
  padding-left: 12px;
}

.card__header--number {
  margin-left: 40px;
}

.card__header--number span {
  margin-left: 4px;
  font-weight: 600;
}

.card__header--favorites {
  position: relative;
  margin-left: 40px;
}

.card__header--favorites a {
  position: relative;
  padding-left: 26px;
}

.card__header--favorites a:before {
  content: url(../img/icons/favorite.svg);
  position: absolute;
  top: 0;
  left: 0px;
}

.card__header--compare {
  margin-left: 40px;
}

.card__header--compare a {
  position: relative;
  padding-left: 26px;
}

.card__header--compare a:before {
  content: url(../img/icons/compare.svg);
  position: absolute;
  top: 0;
  left: 0px;
}

.card__main {
  margin: 24px 0;
}

.card__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  margin-right: 24px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.card__slider .card__slider--thumbs {
  float: left;
  width: calc(16% - 20px);
  margin-right: 20px;
}

.card__slider .card__slider--thumbs .swiper-wrapper {
  height: 428px;
  margin: 16px 0;
  padding-bottom: 28px;
}

.card__slider .card__slider--thumbs .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.card__slider .card__slider--thumbs img {
  width: 53px;
  height: 53px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__slider .card__slider--thumbs .swiper-button-prev-th,
.card__slider .card__slider--thumbs .swiper-button-next-th {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  width: 100%;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.card__slider .card__slider--thumbs .swiper-button-prev-th:hover svg line,
.card__slider .card__slider--thumbs .swiper-button-next-th:hover svg line {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  stroke: #FF6700;
}

.card__slider .card__slider--thumbs .swiper-button-prev-th {
  top: 0;
}

.card__slider .card__slider--thumbs .swiper-button-next-th {
  bottom: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card__slider .card__slider--main {
  float: right;
  max-width: 424px;
  width: 100%;
  height: auto;
}

.card__slider .card__slider--main img {
  width: 100%;
  height: auto;
}

.card__slider .card__slider--main .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 24px;
}

.card__features {
  max-width: 403px;
  width: 100%;
  margin-right: 24px;
}

.card__features-item {
  margin-bottom: 40px;
}

.card__features-item-title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 0.875rem;
}

.card__features-item-title span {
  font-weight: 400;
  color: #808080;
}

.card__features-item-body .badge {
  padding: 5px 9px;
  font-size: 0.875rem;
  color: #808080;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card__features-item-body .badge:not(last-child) {
  margin-right: 8px;
}

.card__features-item-body .badge:hover {
  border-color: #FF6700;
}

.card__features-item-body .badge.active {
  border-color: #FF6700;
}

.card__features-item-body .color-circles {
  margin-bottom: 20px;
}

.card__price {
  max-width: 310px;
  width: 100%;
}

.card__promotion {
  margin-top: 45px;
}

.card__promotion-body {
  height: 215px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.card__promotion-nav {
  position: relative;
  padding: 24px;
  border-right: 1px solid #e6e6e6;
}

.card__promotion-title {
  height: 100%;
  font-size: 1.75rem;
  line-height: 36px;
  color: #454545;
}

.card__promotion-item {
  position: relative;
  max-width: 387px;
  width: 100%;
  height: 100%;
  padding: 24px 28px;
  border-right: 1px solid #e6e6e6;
}

.card__promotion-item img {
  max-width: 124px;
  width: 100%;
  max-height: 142px;
  height: 100%;
  margin-right: 28px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__promotion-item-total {
  max-width: 310px;
  width: 100%;
  height: 100%;
  padding: 24px 27px;
}

.card__promotion-item-total .base-button {
  padding: 16px;
}

.card__promotion-item-total .sale {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 20px;
  color: #FF6700;
}

.card__promotion-item-total .new-price {
  font-weight: 700;
  font-size: 2.125rem;
}

.card__promotion-item-title {
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 1.375rem;
  color: #454545;
}

.card__promotion-item-price {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 25px;
  color: #FF6700;
}

.card__promotion-item--first::after,
.card__promotion-item--second::after {
  content: '';
  position: absolute;
  top: calc(50% - 17px);
  right: -17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 34px;
  font-size: 1.3125rem;
  color: #acacac;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.card__promotion-item--first::after {
  content: '+';
}

.card__promotion-item--second::after {
  content: '=';
}

.card__promotion-nav-btns .swiper-button-prev,
.card__promotion-nav-btns .swiper-button-next,
.card__promotion-nav-btns .swiper-pagination {
  position: static;
  margin: 0;
}

.card__promotion-nav-btns .swiper-button-prev,
.card__promotion-nav-btns .swiper-button-next {
  width: 34px;
  height: 34px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #f5f5f5;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card__promotion-nav-btns .swiper-button-prev svg path,
.card__promotion-nav-btns .swiper-button-next svg path {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card__promotion-nav-btns .swiper-button-prev:hover,
.card__promotion-nav-btns .swiper-button-next:hover {
  background-color: #FF6700;
}

.card__promotion-nav-btns .swiper-button-prev:hover svg line,
.card__promotion-nav-btns .swiper-button-next:hover svg line {
  stroke: #ffffff;
}

.card__promotion-nav-btns .swiper-button-prev:disabled,
.card__promotion-nav-btns .swiper-button-prev[disabled],
.card__promotion-nav-btns .swiper-button-next:disabled,
.card__promotion-nav-btns .swiper-button-next[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.card__promotion-nav-btns .swiper-button-prev:disabled:hover,
.card__promotion-nav-btns .swiper-button-prev[disabled]:hover,
.card__promotion-nav-btns .swiper-button-next:disabled:hover,
.card__promotion-nav-btns .swiper-button-next[disabled]:hover {
  background-color: #f5f5f5;
}

.card__promotion-nav-btns .swiper-button-prev:disabled:hover svg line,
.card__promotion-nav-btns .swiper-button-prev[disabled]:hover svg line,
.card__promotion-nav-btns .swiper-button-next:disabled:hover svg line,
.card__promotion-nav-btns .swiper-button-next[disabled]:hover svg line {
  stroke: #acacac;
}

.card__promotion-nav-btns .swiper-button-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card__promotion-nav-btns .swiper-button-prev:after,
.card__promotion-nav-btns .swiper-button-next:after {
  display: none;
}

.card__promotion-nav-btns .swiper-pagination {
  font-weight: 600;
  font-size: 1rem;
  color: #454545;
}

.card__promotion-swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card__promotion-swiper .swiper-slide {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__info {
  margin: 45px 0;
}

.card__info .label-wrapper {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: -16px;
  padding-bottom: 1px;
}

.card__info .label-wrapper::-webkit-scrollbar {
  width: 0;
}

.card__info .label-wrapper::-webkit-scrollbar-thumb {
  width: 0;
}

.card__info .label-wrapper::-webkit-scrollbar-track {
  width: 0;
}

.card__info .label-wrapper::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.card__also-purchased {
  margin: 45px 0;
  border: 1px solid #000;
}

.card__recently {
  margin: 45px 0;
  border: 1px solid #000;
}

.card__price-mobile {
  display: none;
  margin: -12px -20px 12px -20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.card__price-mobile-header {
  border-bottom: 1px solid rgba(66, 66, 66, 0.1);
}

.card__price-mobile-header .grey-block {
  padding: 9px 19px;
  background-color: #ffffff;
}

.card__price-mobile-header .payment-info__price {
  margin-bottom: 0;
}

.card__price-mobile-header .payment-info__add {
  margin-bottom: 0;
}

.card__price-mobile-header .payment-info__add .add-to-card {
  margin-right: 10px;
  padding-left: 22px;
  padding-right: 22px;
}

.card__price-mobile-footer {
  padding: 10px 24px;
}

.card__price-mobile-footer .card__price-icons-item {
  position: relative;
}

.card__price-mobile-footer .card__price-icons-item .text {
  font-size: 0.6875rem;
  line-height: 15px;
  color: #aaaaaa;
}

.card__price-mobile-footer .card__price-icons-item .badge {
  position: absolute;
  top: -6px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;
  font-weight: 700;
  font-size: 0.625rem;
  color: #ffffff;
  background-color: #FF6700;
  border-radius: 50%;
}

.card__action-time {
  position: relative;
  z-index: 10;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -99px;
  margin-right: -20px;
  margin-left: -20px;
  padding: 10px 20px;
}

.card__action-time .text {
  width: auto !important;
}

.badge {
  padding: 2px 10px 4px;
  font-size: 0.8125rem;
  line-height: 20px;
  color: #ffffff;
  white-space: nowrap;
  border-radius: 2px;
}

.badge--orange {
  background-color: #FF6700;
}

.badge--red {
  background-color: #E30613;
}

.badge--purpure {
  background-color: #6D6DCF;
}

.badge--light-grey {
  color: #E30613;
  background-color: #F0F0F0;
}

.show-more {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #f5f5f5;
  border-radius: 2px;
  cursor: pointer;
}

.show-more svg {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.show-more:hover svg path {
  fill: #FF6700;
}

.show-more.active svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.show-more.active svg path {
  fill: #FF6700;
}

.action-time svg {
  margin-right: 9px;
}

.action-time .text {
  margin-right: 12px;
  width: 95px;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 14px;
  color: #454545;
}

.action-time .clock .days,
.action-time .clock .hours,
.action-time .clock .minutes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action-time .clock .days span,
.action-time .clock .hours span,
.action-time .clock .minutes span {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 20px;
  color: #454545;
}

.action-time .clock .days div,
.action-time .clock .hours div,
.action-time .clock .minutes div {
  font-weight: 400;
  font-size: 0.5625rem;
}

.action-time .clock .divider {
  margin: -5px 9px 0 9px;
  font-size: 1.5rem;
  color: #acacac;
}

.payment-info {
  font-size: 0.875rem;
}

.payment-info__price {
  margin-bottom: 12px;
  font-weight: 700;
}

.payment-info__price .current {
  margin-right: 9px;
  font-size: 2.125rem;
}

.payment-info__price .old {
  margin-right: 9px;
  color: #808080;
  font-size: 1rem;
  text-decoration: line-through;
}

.payment-info__price .sale {
  font-size: 1rem;
  color: #FF6700;
}

.payment-info__available {
  position: relative;
  margin-bottom: 24px;
  padding-left: 14px;
  line-height: 20px;
}

.payment-info__available:before {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #00b407;
}

.payment-info__available a {
  color: #FF6700;
}

.payment-info__variants {
  margin-bottom: 24px;
  padding: 14px 19px;
  background-color: #ffffff;
  border-radius: 2px;
}

.payment-info__add {
  margin-bottom: 24px;
}

.payment-info__add .add-to-card {
  height: 52px;
  padding: 16px 45px;
  font-weight: 600;
  font-size: 0.875rem;
  border: none;
  background-color: #FF6700;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #ffffff;
  border-radius: 2px;
}

.payment-info__add .add-to-card svg {
  margin-right: 10px;
}

.payment-info__add .add-to-card:hover {
  background-color: #ff7517;
}

.payment-info__add .buy-one-click {
  width: 52px;
  height: 52px;
  border-radius: 2px;
  border: 1px solid #FF6700;
  background-color: transparent;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.payment-info__add .buy-one-click svg {
  margin-top: 6px;
  -webkit-transform: rotate(-9.76deg);
      -ms-transform: rotate(-9.76deg);
          transform: rotate(-9.76deg);
}

.payment-info__add .buy-one-click:hover {
  background-color: #FF6700;
}

.payment-info__add .buy-one-click:hover svg path {
  stroke: #ffffff;
}

.payment-info__bonuses {
  position: relative;
}

.payment-info__bonuses span {
  font-weight: 700;
}

.payment-info__bonuses svg {
  margin-left: 10px;
  cursor: pointer;
}

.payment-info__bonuses svg:hover circle,
.payment-info__bonuses svg:hover line {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  stroke: #FF6700;
}

.bonuses {
  font-size: 0.875rem;
  line-height: 19px;
}

.bonuses .row:not(last-chold) {
  margin-bottom: 6px;
}

.bonuses span {
  font-weight: 700;
}

.bonuses strong {
  font-weight: 700;
  font-size: 1.25rem;
}

.color-circles__item {
  width: 46px;
  height: 46px;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.color-circles__item:not(last-child) {
  margin-right: 20px;
}

.color-circles__item span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.color-circles__item.active {
  border: 1px solid #FF6700;
}

.gift__title {
  position: relative;
  margin-bottom: 12px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 0.75rem;
  color: #FF6700;
}

.gift__title:before {
  content: url(../img/icons/gift.svg);
  position: absolute;
  top: calc(50% - 11px);
  left: 0px;
}

.gift__body {
  padding: 24px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.gift__body img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.gift__body .text {
  font-size: 0.75rem;
  color: #808080;
}

.main-specifications {
  font-size: 0.875rem;
}

.main-specifications__row:not(last-child) {
  margin-bottom: 12px;
}

.main-specifications__name {
  color: #808080;
}

.main-specifications__value {
  color: #424242;
}

.main-specifications__all {
  padding-bottom: 1px;
  color: #FF6700;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main-specifications__all:hover {
  border-bottom: 1px solid #ebe9e9;
}

.specifications__header {
  padding: 14px 24px;
  font-weight: 700;
  font-size: 0.875rem;
  color: #454545;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d9d9d9;
}

.specifications__row {
  padding: 14px 24px;
  font-size: 0.875rem;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.specifications__row:last-child {
  margin-bottom: 20px;
  border-bottom: none;
}

.specifications__row:hover {
  background-color: #f5f5f5;
}

.specifications__row:hover svg {
  visibility: visible;
}

.specifications__key {
  max-width: 553px;
  width: 100%;
  font-weight: 400;
  color: #808080;
}

.specifications__key svg {
  position: relative;
  top: 1px;
  visibility: hidden;
  margin-left: 6px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.specifications__key svg:hover circle,
.specifications__key svg:hover line {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  stroke: #FF6700;
}

.specifications__value {
  font-weight: 600;
  color: #454545;
}

.input-label {
  margin-bottom: 2px;
  font-size: 0.75rem;
  color: #454545;
}

.input-label sup {
  color: #FF6700;
}

.base-input,
.base-textarea {
  width: 100%;
  padding: 12px 17px;
  font-size: 0.875rem;
  border-radius: 2px;
  border: transparent;
}

.base-input.notRequired,
.base-textarea.notRequired {
  border: 1px solid #FF6700;
}

.base-textarea {
  height: 86px;
}

.delivery__tabs {
  position: relative;
}

.delivery__tabs .tabs__label {
  position: relative;
  max-width: 253px;
  width: 100%;
  margin: 0 0 0 -0.29em;
  padding: 16px 24px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.delivery__tabs .tabs__label:hover {
  color: #ffffff;
  background-color: #FF6700;
  cursor: pointer;
}

.delivery__tabs .tabs__label::after {
  visibility: hidden;
  content: '';
  position: absolute;
  bottom: -8px;
  left: calc(50% - 11px);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 11px;
  border-right-width: 11px;
  border-top: 7px solid #FF6700;
}

.delivery__tabs input:checked + .tabs__label {
  color: #ffffff;
  background-color: #FF6700;
}

.delivery__tabs input:checked + .tabs__label::after {
  visibility: visible;
}

.delivery__tabs section {
  border-top: none;
}

.delivery .select-city {
  position: absolute;
  top: 16px;
  right: 0;
  font-size: 0.875rem;
}

.delivery .select-city__selected {
  margin-right: 33px;
  font-weight: 400;
  font-size: 0.875rem;
}

.delivery .select-city__selected span {
  font-weight: 600;
}

.delivery .select-city__btn {
  padding: 0;
  color: #FF6700;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.delivery .select-city__btn:hover {
  border-bottom: 1px solid #ebe9e9;
}

.delivery .availability__table-header {
  font-weight: 700;
  font-size: 0.875rem;
  color: #454545;
  padding: 14px 24px;
  background-color: #f5f5f5;
}

.delivery .availability__table-body {
  padding: 20px 24px;
  font-size: 0.875rem;
  border-bottom: 1px solid #eaeaea;
}

.delivery .availability__table-body .table-body__address {
  font-weight: 600;
}

.delivery .availability__table-body .table-body__working {
  position: relative;
  cursor: pointer;
}

.delivery .availability__table-body .table-body__working svg {
  position: relative;
  top: -1px;
  margin-right: 8px;
}

.delivery .availability__table-body .table-body__working:hover svg line {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  stroke: #FF6700;
}

.delivery .availability__table-body .table-body__working.active svg {
  top: 1px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.delivery .availability__table-body .table-body__working.active svg line {
  stroke: #FF6700;
}

.delivery .availability__table-body .table-body__working .popup {
  display: none;
  position: absolute;
  z-index: 5;
  top: 32px;
  padding: 20px;
  font-size: 0.875rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.delivery .availability__table-body .table-body__working .popup__title {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 700;
  color: #454545;
}

.delivery .availability__table-body .table-body__working .popup p {
  line-height: 24px;
  color: #808080;
}

.delivery .availability__table-body .table-body__working.active .popup {
  display: block;
}

.delivery .availability__table-body .table-body__date span {
  font-weight: 700;
  display: none;
}

.delivery .availability__table-body .table-body__availability {
  position: relative;
  padding-left: 16px;
}

.delivery .availability__table-body .table-body__availability::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.delivery .availability__table-body .table-body__availability--true::before {
  background-color: #00b407;
}

.delivery .availability__table-body .table-body__availability--false::before {
  background-color: #f44336;
}

.delivery .availability__table-body .table-body__reserve {
  color: #FF6700;
}

.delivery .availability__table-body .table-body__reserve--mobile {
  display: none;
  font-size: 0.875rem;
  color: #FF6700;
}

.delivery .delivery-content__info {
  margin-bottom: 35px;
}

.delivery .delivery-content__item {
  max-width: 506px;
  width: 100%;
  padding-right: 34px;
  font-size: 0.875rem;
}

.delivery .delivery-content__item:not(last-child) {
  margin-right: 18px;
}

.delivery .delivery-content__item .title {
  position: relative;
  font-weight: 700;
  color: #454545;
}

.delivery .delivery-content__item .title::before {
  content: '';
  position: absolute;
  top: -2px;
}

.delivery .delivery-content__item .title--price {
  margin-left: 32px;
}

.delivery .delivery-content__item .title--price::before {
  content: url(../img/icons/calc.svg);
  left: -32px;
}

.delivery .delivery-content__item .title--delivery {
  margin-left: 40px;
}

.delivery .delivery-content__item .title--delivery::before {
  content: url(../img/icons/delivery.svg);
  left: -40px;
}

.delivery .delivery-content__item .text {
  color: #000000;
}

.delivery .delivery-content__description .title {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 20px;
}

.delivery .delivery-content__description p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 19px;
  color: #000000;
  margin-bottom: 18px;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__body {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.modal__content {
  padding: 21px 33px;
}

.modal__title {
  margin-bottom: 11px;
  font-size: 1.75rem;
  line-height: 50px;
  color: #454545;
}

.modal__close {
  position: absolute;
  right: -38px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: #FF6700;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.modal__close:hover {
  background-color: #ff7517;
}

.reviews__no-data {
  margin-bottom: 55px;
}

.reviews__no-data-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #454545;
}

.reviews__no-data-text {
  max-width: 600px;
  width: 100%;
  font-size: 0.875rem;
  line-height: 22px;
  color: #808080;
}

.reviews__item {
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: 0.875rem;
  line-height: 20px;
  color: #454545;
  border-bottom: 1px solid #eaeaea;
}

.reviews__item:last-child {
  margin-bottom: 204px;
}

.reviews__author {
  margin-bottom: 6px;
  font-weight: 700;
}

.reviews__rating {
  margin-bottom: 25px;
}

.reviews__stars {
  height: 14px;
}

.reviews__stars .stars svg {
  width: 14px;
  height: 14px;
}

.reviews .divider {
  margin: 0 15px;
  color: #d9d9d9;
}

.reviews__text {
  margin-bottom: 15px;
}

.reviews__info p {
  max-width: 530px;
  width: 100%;
}

.reviews__advantages {
  max-width: 50%;
  width: 100%;
}

.reviews__shortcomings {
  max-width: 50%;
  width: 100%;
}

.reviews__pagination {
  margin-bottom: 53px;
}

.reviews__form.grey-block {
  padding: 37px 42px;
}

.reviews__form-row {
  margin-bottom: 18px;
}

.reviews__form-input-wrapper {
  width: 100%;
}

.reviews__form-input-wrapper:first-child {
  margin-right: 10px;
}

.reviews__form-input-wrapper:last-child {
  margin-left: 10px;
}

.reviews__form-title {
  margin-bottom: 25px;
  font-size: 1.75rem;
  color: #454545;
}

.reviews__form-assessment {
  margin-bottom: 18px;
}

.reviews__form-assessment .stars {
  position: relative;
  top: -1px;
  margin-left: 16px;
  height: 18px;
}

.reviews__form-assessment .stars svg {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  cursor: pointer;
}

.reviews__form-footer {
  margin-top: 38px;
}

.reviews__form-footer .text {
  max-width: 838px;
  width: 100%;
  font-size: 0.875rem;
  line-height: 22px;
  color: #acacac;
}

.reviews__modal .modal__body {
  height: auto;
}

.reviews__modal .title {
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 50px;
  color: #454545;
}

.reviews__modal .text {
  margin-bottom: 10px;
  line-height: 22px;
  text-align: center;
  color: #424242;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.pagination__prev,
.pagination__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.pagination__prev svg path,
.pagination__next svg path {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.pagination__prev:hover,
.pagination__next:hover {
  background-color: #FF6700;
}

.pagination__prev:hover svg line,
.pagination__next:hover svg line {
  stroke: #ffffff;
}

.pagination__prev:disabled,
.pagination__prev[disabled],
.pagination__next:disabled,
.pagination__next[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.pagination__prev:disabled:hover,
.pagination__prev[disabled]:hover,
.pagination__next:disabled:hover,
.pagination__next[disabled]:hover {
  background-color: #f5f5f5;
}

.pagination__prev:disabled:hover svg line,
.pagination__prev[disabled]:hover svg line,
.pagination__next:disabled:hover svg line,
.pagination__next[disabled]:hover svg line {
  stroke: #acacac;
}

.pagination__prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  font-weight: 700;
  font-size: 0.875rem;
  color: #454545;
  border-radius: 50%;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.pagination__link:hover {
  color: #ffffff;
  background-color: #FF6700;
}

.pagination__link.active {
  color: #ffffff;
  background-color: #FF6700;
}

.pagination__link--divider:hover {
  color: #454545;
  background-color: #ffffff;
}

/* END MAIN STYLES */

/* ----------=====---------- */

/* MEDIA */

@media (max-width: 1200px) {
  .card__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .card__header-badges {
    margin-bottom: 16px;
  }

  .pagination {
    margin-top: 32px;
  }
}

@media (max-width: 1024px) {
  .tabs__label {
    margin-bottom: -1px;
  }

  .card__promotion-item img {
    max-width: 76px;
    max-height: 76px;
  }

  .card__promotion-item-title {
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 768px) {
  .h1,
  h1 {
    font-size: 1.75rem;
    line-height: 38px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .table-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs section {
    padding: 20px 0 22px 0;
  }

  .breadcrumbs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .breadcrumbs__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 8px;
  }

  .card__title {
    margin-bottom: 12px;
  }

  .card__header {
    padding-bottom: 0;
  }

  .card__header-actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .card__header--reviews {
    margin-right: 23px;
    margin-bottom: 16px;
    padding-left: 0;
  }

  .card__header--reviews {
    margin-right: 16px;
  }

  .card__header--number {
    margin-left: 0;
    margin-right: 23px;
    margin-bottom: 16px;
  }

  .card__header--favorites {
    margin-left: 0;
    margin-right: 23px;
    margin-bottom: 16px;
  }

  .card__header--compare {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
    margin-right: 23px;
    margin-bottom: 16px;
    padding-top: 2px;
  }

  .card__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card__slider .card__slider--thumbs {
    display: none;
  }

  .card__slider .card__slider--main img {
    height: 100%;
    width: auto;
  }

  .card__slider .card__slider--main {
    max-width: 100%;
    float: none;
  }

  .card__slider {
    max-width: 100%;
  }

  .card__price {
    max-width: 100%;
  }

  .card__price-action-time {
    display: none;
  }

  .card__promotion-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .card__promotion-nav {
    border-right: none;
    border-bottom: 1px solid #e6e6e6;
  }

  .card__promotion-nav span {
    margin-bottom: 16px;
  }

  .card__promotion-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: none;
    border-bottom: 1px solid #e6e6e6;
    max-width: 100%;
  }

  .card__promotion-item-total-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 17px;
  }

  .card__promotion-item-total-text .new-price {
    margin-right: 13px;
  }

  .card__promotion-item--first::after,
  .card__promotion-item--second::after {
    top: calc(100% - 17px);
    right: 0;
    left: 24px;
  }

  .card__promotion-nav-btns .swiper-pagination-fraction,
  .card__promotion-nav-btns .swiper-pagination-custom,
  .card__promotion-nav-btns .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 66px;
  }

  .card__promotion-swiper .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card__price-mobile {
    display: block;
  }

  .card__action-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .specifications__key {
    max-width: 50%;
  }

  .delivery__tabs section {
    padding-top: 21px;
    padding-bottom: 0;
  }

  .delivery .select-city {
    position: static;
    margin-top: 24px;
  }

  .delivery .availability__table-header {
    display: none;
  }

  .delivery .availability__table-body {
    padding-left: 0;
    padding-right: 0;
  }

  .delivery .availability__table-body .table-body__address {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: auto;
    margin-bottom: 13px;
    margin-right: 50px;
  }

  .delivery .availability__table-body .table-body__working {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: auto;
  }

  .delivery .availability__table-body .table-body__working .popup {
    position: static;
    margin: 14px -20px -21px -20px;
    padding: 14px 20px 14px 20px;
    background-color: #f5f5f5;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .delivery .availability__table-body .table-body__date {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: auto;
    margin-bottom: 13px;
  }

  .delivery .availability__table-body .table-body__date span {
    display: inline;
  }

  .delivery .availability__table-body .table-body__availability {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
    margin-bottom: 13px;
  }

  .delivery .availability__table-body .table-body__reserve {
    position: absolute;
    right: 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .delivery .availability__table-body .table-body__reserve span {
    display: none;
  }

  .delivery .availability__table-body .table-body__reserve--mobile {
    display: block;
  }

  .delivery .availability__table-body .table-body__reserve svg {
    display: block;
  }

  .delivery .availability__table-body .table-body__reserve svg {
    margin-bottom: 13px;
  }

  .delivery .delivery-content__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .delivery .delivery-content__item {
    max-width: 100%;
    margin-bottom: 20px;
    padding-right: 24px;
  }

  .delivery .delivery-content__item:not(last-child) {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .pagination__pages {
    gap: 4px;
  }

  .pagination__link:nth-child(5) {
    display: none;
  }
}

@media (max-width: 576px) {
  .modal__body {
    max-width: calc(100% - 38px);
    height: 100vh;
  }

  .modal__form-wrapper {
    height: 85vh;
    padding-bottom: 24px;
  }

  .modal__form {
    height: 100vh;
    padding-bottom: 24px;
  }

  .card__header--reviews a {
    padding-left: 6px;
  }

  .card__promotion-item-total {
    padding: 24px;
  }

  .specifications__header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .specifications__row {
    padding-left: 16px;
    padding-right: 16px;
  }

  .specifications__key {
    margin-right: 10px;
  }

  .modal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .modal__content {
    padding: 20px;
  }

  .reviews__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .reviews__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .reviews__info p {
    max-width: 100%;
  }

  .reviews__advantages {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .reviews__shortcomings {
    max-width: 100%;
  }

  .reviews__form.grey-block {
    padding: 24px;
  }

  .reviews__form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .reviews__form-input-wrapper:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .reviews__form-input-wrapper:last-child {
    margin-left: 0;
  }

  .reviews__form-title {
    margin-bottom: 16px;
    font-size: 1.25rem;
  }

  .reviews__form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }

  .reviews__form-footer .text {
    margin-bottom: 16px;
    font-size: 0.75rem;
  }

  .pagination {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 414px) {
  .card__header--reviews {
    margin-right: 7px;
  }

  .card__slider .card__slider--main img {
    width: 100%;
  }

  .card__price-mobile-header .payment-info__price .current {
    font-size: 1.5rem;
  }

  .card__price-mobile-header .payment-info__price .old,
  .card__price-mobile-header .payment-info__price .sale {
    font-size: 0.875rem;
  }

  .card__price-mobile-header .payment-info__add .add-to-card {
    padding-left: 12px;
    padding-right: 12px;
  }

  .delivery__tabs .tabs__label {
    max-width: 50%;
    margin: 0 0 0 -0.33em;
    padding: 8px 12px;
    font-size: 0.75rem;
  }

  .delivery .availability__table-body .table-body__address {
    max-width: 290px;
  }

  .delivery .delivery-content__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .delivery .delivery-content__item .title--price {
    margin-bottom: 10px;
  }

  .delivery .delivery-content__item .title--delivery {
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .pagination__prev,
  .pagination__next {
    width: 32px;
    height: 32px;
  }

  .pagination__link {
    width: 32px;
    height: 32px;
  }
}