<section class="card__info">
  <div class="tabs">

    <input class="tabs__input" id="tab-1" type="radio" name="card-info">
    <input class="tabs__input" id="tab-2" type="radio" name="card-info">
    <input class="tabs__input" id="tab-3" type="radio" name="card-info" checked>
    <input class="tabs__input" id="tab-4" type="radio" name="card-info">
    <input class="tabs__input" id="tab-5" type="radio" name="card-info">
    <input class="tabs__input" id="tab-6" type="radio" name="card-info">

    <div class="label-wrapper flex">
      <label class="tabs__label js-tabs-label" for="tab-1">Характеристики</label>
      <label class="tabs__label js-tabs-label" for="tab-2">Описание</label>
      <label class="tabs__label js-tabs-label active" for="tab-3">Видео</label>
      <label class="tabs__label js-tabs-label" for="tab-4">Наличие и доставка</label>
      <label class="tabs__label js-tabs-label" for="tab-5">Отзывы <span>(23)</span></label>
      <label class="tabs__label js-tabs-label" for="tab-6">Инструкции</label>
    </div>

    <section id="content-1">
      @@include('../../../specifications/_specifications.html')
    </section>

    <section id="content-2">
      @@include('../../../description/_description.html')
    </section>

    <section id="content-3">
      @@include('../../../video/_video.html')
    </section>

    <section id="content-4">
      @@include('../../../delivery/_delivery.html')
    </section>

    <section id="content-5">
      @@include('../../../reviews/_reviews.html')
    </section>
    
    <section id="content-6">
      @@include('../../../instructions/_instructions.html')
    </section>



  </div>
</section>