.compare {
  &__content {
    padding: 38px 0 0px 0;
    background-color: #f5f5f5;
  }

  .row-flex {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .col-3 {
    display: flex;
    flex-direction: column;
    width: 290px;

    .specifications {
      &__header {
        width: 1300px;
        background-color: #ffffff;
        border-bottom: none;
      }

      &__key {
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }

  .col-9 {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
  }

  &__card-item {
    margin-right: 20px;

    .card-item {
      width: 314px;
      margin-bottom: 87px;
    }

    .divider {
      background-color: #ffffff;
      height: 47px;
      border-bottom: none;
    }
  }
}

//

.filter {
  &__title {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: rem(14px);
    color: #454545;

    svg {
      margin-right: 13px;
    }
  }

  &__form {
    padding-bottom: 16px;
    border-bottom: 1px dashed #d9d9d9;
  }

  &__custom-radio {
    margin-bottom: 16px;
  }

  &__clear {
    margin-top: 27px;
    font-weight: 600;
    font-size: rem(14px);

    color: $orange;
    border: none;
    background-color: transparent;

    svg {
      margin-right: 14px;
    }
  }
}

.custom-radio {
  display: flex;

  font-size: rem(15px);
  font-weight: 400;
  color: $base-text-color;

  cursor: pointer;

  &--hidden {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;

    &:checked ~ .custom-radio__pseudo {
      background-color: $orange;
    }
  }

  &__pseudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 19px;
    height: 19px;

    margin-right: 14px;

    background-color: #ffffff;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 2.5px);
      left: calc(50% - 2.5px);

      width: 5px;
      height: 5px;
      background-color: #ffffff;
      border-radius: 50%;
      transition: $base-transition;
    }
  }
}
