&__header {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba($color: $base-text-color, $alpha: 0.1);

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 768px) {
    padding-bottom: 0;
  }

  .badges {

    position: relative;
  }

  &-badges {

    .badges__hidden {
      position: absolute;
      bottom: -37px;
      display: flex;
      height: 100%;
      background-color: #ffffff;
      
      &.hidden {
        display: none;
        }
    }

    .badge {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    @media (max-width: 1200px) {
      margin-bottom: 16px;
    }
  }

  &-actions {
    font-size: rem(13px);
    line-height: 18px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &--reviews {
    padding-left: 10px;

    a {
      margin-top: -1px;
      padding-left: 12px;

      @media (max-width: 576px) {
        padding-left: 6px;
      }
    }

    @media (max-width: 768px) {
      margin-right: 23px;
      margin-bottom: 16px;
      padding-left: 0;
    }

    @media (max-width: 768px) {
      margin-right: 16px;
    }

    @media (max-width: 414px) {
      margin-right: 7px;
    }
  }

  &--number {
    margin-left: 40px;

    span {
      margin-left: 4px;
      font-weight: 600;
    }

    @media (max-width: 768px) {
      margin-left: 0;
      margin-right: 23px;
      margin-bottom: 16px;
    }
  }

  &--favorites {
    position: relative;
    margin-left: 40px;

    a {
      position: relative;
      padding-left: 26px;
      &:before {
        content: url(../img/icons/favorite.svg);
        position: absolute;
        top: 0;
        left: 0px;
      }
    }

    @media (max-width: 768px) {
      margin-left: 0;
      margin-right: 23px;
      margin-bottom: 16px;

    }
  }

  &--compare {
    margin-left: 40px;

    a {
      position: relative;
      padding-left: 26px;
      &:before {
        content: url(../img/icons/compare.svg);
        position: absolute;
        top: 0;
        left: 0px;
      }
    }

    @media (max-width: 768px) {
      align-items: flex-start;
      margin-left: 0;
      margin-right: 23px;
      margin-bottom: 16px;
      padding-top: 2px;
    }
  }
}
